.trends_widget{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 1rem ;

}

.wrapper_trends{
    width: 100%;
    overflow-x: auto;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 2rem;
}




@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {
    
}
@media screen and (max-width: 479px) {
    .trends_widget{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 1rem ;
    }
}