.trends_widget{
    display: flex;
    flex-direction: column;
    padding-left: 1rem ;

}

.wrapper_trends{
    width: 100%;
    overflow-x: auto;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: start;
    
    overflow: hidden;
}

.trend {
    flex: 1; /* Distribuir espacio restante equitativamente */
    margin: 5px;
}