.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.store_img {
    width: 70px;
    border-radius: 50%;
}

.store_detail {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}
.store_logo{
    width: 70px;
    height: 70px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.store_name {
    margin: 0;
}

.store_description {
    margin: 0;
}