.header_nav_widget {
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    /* Combina la imagen de fondo y el gradiente */
    background-image: 
        linear-gradient(0deg, rgba(119, 119, 119, 0) 0%, #290404 116.6%),
        url("../../assets/home-image.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.title{
    margin: 0;

}

.message{
    margin: 0;
}