 .container {
     height: 100%;
     flex: 1 1 50%;
     display: flex;
     justify-content: flex-end;
 }

 .btn_menu {}

 .btn_menu:hover {
     transform: scale(1.2);
 }

 .aside_menu {
     position: fixed;
     top: 0;
     right: -70%;
     width: 70%;
     height: 90%;
     background: #FFFFFF;
     padding: 3rem 0;
     display: flex;
     align-items: flex-end;
     justify-content: space-between;
     flex-direction: column;

     transition: right 0.3s ease;
     z-index: 999;
 }

 .aside_menu.open {
     right: 0;
 }

 .aside_menu::before {
     content: '';
     position: absolute;
     top: 0;
     left: -66px;
     width: 66px;
     height: 100%;
     background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
 }

 .section_categories {
     padding-right: 2rem;
     text-align: end;

 }

 .search {
     max-height: 50px;
     padding-right: 2rem;
     text-align: end;
 }

 .section_user {
     width: 70%;
     padding-right: 2rem;
     display: flex;
     justify-content: space-evenly;
 }

 .section_support {
     width: 70%;
     padding-right: 2rem;
     display: flex;
     justify-content: space-evenly;
 }